.password-wrapper {
  background-color: $white;


  .login-button {
    height: 48px;
  }

  .nut-cell {
    padding: 0.8rem 0;
  }



  .verification {
    display: flex;
    flex-direction: row;
    align-items: center;
    // margin-top: 1rem;
    justify-content: space-between;

    &-text {
      flex-shrink: 0;
      padding: 0 0.5rem;
      border-left: 1px solid rgba(145, 158, 171, 0.08);
      cursor: pointer;
      flex-basis: 28%;
      text-align: center;
    }

    .disabled {
      color: #637381
    }


  }



}