.layout-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  width: 100%;

  &-side {
    display: flex;
    flex-direction: row;
    flex: 1;

  }

  &-content {
    padding: 0.8rem 1rem;
    width: 100%;
    box-sizing: border-box;
  }

  &-title {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.875rem;
  }
}