.layout-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  &-side {
    display: flex;
    flex-direction: row;
  }
  &-content {
    padding: 0.8rem 1rem;
    flex: 1;
  }

  &-title {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.875rem;
  }
}
