.add-container {
  margin: 1rem;

  .card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;

    &-title {
      padding: 1rem 1rem 0 1rem;
    }

    &-content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .add-form-item {
        flex-basis: 30%;
      }
    }
  }


}

.add-footer {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: flex-end;

  .nut-button-block {
    width: 5rem;
    margin-left: 0.5rem;
  }
}

@media (max-width: 756px) {
  .add-container {


    .card {

      &-title {}

      &-content {


        .add-form-item {
          flex-basis: 100%;
        }
      }
    }


  }

  .add-footer {
    box-sizing: border-box;

    .nut-button-block {
      flex: 1;
      margin-left: 0.5rem;
    }
  }
}