.ctable {
  min-width: 100%;
  overflow: hidden;
  background: $white;

  &-content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: scroll hidden;
    flex: 1;
    width: auto;


  }

  &-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0.8rem 1rem;
    border-bottom: 1px dashed #63738157;
    margin: 0;
    white-space: nowrap;

    &.head {
      .ctable-col {
        background-color: #F4F6F8 !important;
        color: #637381;
      }

      border: none
    }
  }

  &-col {
    display: flex;
    box-sizing: border-box;
    padding: 0.8rem 1rem;
    flex-shrink: 0;
    margin: 0;

  }
}