.ctable {
  min-width: 100%;
  overflow: hidden;
  background: $white;

  &-content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: scroll hidden;
    flex: 1;
    width: auto;
  }

  &-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    margin: 0;
    white-space: nowrap;

    &.head {
      .ctable-col {
        background-color: #f4f6f8 !important;
        color: #637381;
        white-space: nowrap;
        word-break: normal;
        align-items: center;
        padding-right: 1rem;
      }

      border: none;
    }
  }

  &-col {
    display: flex;
    box-sizing: border-box;
    padding: 0.8rem 1rem;
    flex-shrink: 0;
    margin: 0;
    white-space: normal;
    text-align: left;
    word-break: break-word;
    border-bottom: 1px dashed #63738157;
    font-size: small;
  }


}

.nut-pagination {
  .nut-pagination-contain {
    flex: 1;
    justify-content: center;
  }

  .nut-pagination-prev {
    border: none;
    border-right: 1px solid #63738110;
  }

  .nut-pagination-next {
    border: none;
    border-left: 1px solid #63738110;
  }
}


@media (min-width: 756px) {
  .ctable {
    &-content {
      max-width: 100%;
    }

    &-col {
      flex-shrink: 2;
    }
  }

  .nut-pagination {
    border-top: 1px solid rgba(145, 158, 171, 0.08);

  }
}