.popup-filter {
  height: 25rem;
  overflow: hidden;

  &-content {
    height: 100%;
    position: relative;
    overflow-y: scroll;
  }

  &-title {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    box-sizing: border-box;
  }

  .radio-wrapper {
    padding: 0 0.5rem;

    --nutui-radiogroup-radio-label-margin: 0 5PX 0 0.8rem;

  }
}