.side-filter {
  display: none;
  width: 20rem;
  border-right: 1px solid rgba(5, 5, 5, 0.06);

  &.show {
    display: block;
    border-right: none;
    width: 100%;
  }

  .nut-collapse-item-content-text {
    padding: 1rem 1rem 1rem 1rem;
  }

  .nut-collapse-item-header {
    align-items: center;
  }
 .nut-radio{
  margin-bottom: 0.8rem;
 
}}

@media (min-width: 756px) {
  .side-filter {
    display: block;
    width: 20rem;
    height: 90vh;
    overflow: hidden;
    flex-shrink: 0;

    .nut-collapse {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      overflow: hidden scroll;
      height: 100%;
    }
  }
}