.filter-wrapper {
  width: 100%;

  .filter-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;

    .search-icon {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      background-color: $color-primary;
      margin-left: 0.5rem;
    }

    span {
      color: $color-primary;
    }
  }

  .result {
    margin-top: 4px;
    padding: 12px;
    font-size: $font-size-base;
    background-color: $white;

    &-total {
      font-weight: 500;
    }

    &-text {
      margin-left: 4px;
      color: #212b368c;
      font-size: small;
    }

    .checked-wrapper {
      border-radius: 8px;
      border: 1px dashed $color-dark;
      padding: 8px;
      font-weight: 500;
      display: flex;
      flex: 1;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background-color: $white;

      &-inner {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      .delete-icon {
        float: left;
      }
    }
  }
}

.check-item {
  background-color: $color-primary;
  border-radius: 5px;
  padding: 2px 8px;
  margin-right: 8px;
  color: $white;
  font-size: 12px;
  font-weight: normal;
  display: flex;
  flex-direction: row;
  align-items: center;

  &-text {
    margin-right: 4px;
    vertical-align: text-bottom;
    color: $white;
  }
}

.popup-filter {
  height: 25rem;
  overflow: hidden;
  &-content {
    height: 100%;
    position: relative;
    overflow-y: scroll;
  }

  &-title {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    box-sizing: border-box;
  }
.radio-wrapper{
  padding: 0 1rem;
}

}
