.filter-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex: 1;
  background: #fff;

  &.single {
    border-radius: 1rem;
    box-shadow: 0px 12px 24px -4px rgba(145, 158, 171, 0.12),
      0px 0px 2px 0px rgba(145, 158, 171, 0.2);

    margin-top: 1rem;
  }

  span {
    color: $color-primary;
  }

  .result {
    &-wrapper {
      padding: 0rem 1.25rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      box-sizing: border-box;
      height: 3rem;
      border-bottom: 1px solid rgba(145, 158, 171, 0.08);

    }

    &-total {
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 600;
    }

    &-text {
      color: #637381;
      margin-left: 0.4rem;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
    }


  }

  .checked-wrapper {
    padding: 0.5rem;
    margin: 0.5rem 1.25rem 0 1.25rem;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5rem;
    border: 1px dashed rgba(145, 158, 171, 0.16);

    &-inner {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 600;
      line-height: 1.375rem;
    }

    .delete-icon {
      float: left;
    }
  }
}

.filter-form {
  width: 100%;
  padding: 0;
  margin: 0;


  .nut-cell-group-wrap {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 1.25rem;
    margin-bottom: 0;
    margin-top: 1rem;
  }

  .nut-form-item {
    border-radius: 0.5rem;
    border: 1px solid rgba(145, 158, 171, 0.2);
    margin-bottom: 1rem;
    width: 100%;
  }

  .nut-form-item-label {
    padding-left: 0;
    color: #637381;
    width: 3.2rem;
  }

  .last-form {
    display: flex;
    flex-direction: row;
    width: 100%;

    .nut-form-item {
      width: auto;
      flex-grow: 1;

    }
  }

  .more {
    display: block;
    transform: rotateZ(90deg);
    margin: 0.7rem 1rem 0 1rem;

  }
}

.check-item {
  background-color: $color-primary;
  border-radius: 5px;
  padding: 2px 8px;
  margin-right: 8px;
  color: $white;
  font-size: 12px;
  font-weight: normal;
  display: flex;
  flex-direction: row;
  align-items: center;

  &-text {
    margin-right: 4px;
    vertical-align: text-bottom;
    color: $white;
  }
}



@media (min-width: 756px) {

  .form {
    .nut-cell-group-wrap {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;

    }

    .nut-form-item {
      width: 30%;
    }

    .last-form {
      .nut-form-item {
        width: 100%;
      }
    }

    .more {
      display: none;
    }
  }


}