.login-container {
  display: flex;
  height: 100vh;
  flex-direction: row;
  justify-content: center;
  background: radial-gradient(circle at 10% 20%, rgba(216, 241, 230, 0.46) 0.1%, rgba(233, 226, 226, 0.28) 90.1%);
  box-sizing: border-box;

  .pic {

    background-image: linear-gradient(to bottom,
        rgb(0 0 0 / 2%),
        rgb(0 0 0 / 73%)),
      url("../../assets/images/home_background.jpeg");
    // background-position: ;
    color: $white;
    border-radius: 6px;
    width: 65%;

    margin: 1rem;
  }

  .content {
    flex: 1;
    margin: 0 1.5rem;

  }
}

@media (max-width: 754px) {
  .pic {
    display: none;
  }
}