.table-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  flex: 1;
}
.home-table {
  background-color: $white;
  padding: 12px 0;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 12px;
  margin-left: 12px;

  .pre {
    transform: rotateZ(180deg);
    margin-right: 20px;
  }

  .next {}

}